body{
    margin: 0 px;
    background: rgb(19, 1, 1);
}

.dg.a{
    width:40% !important ;
}
canvas{
    position: relative;
    top:0px;
    left:0px;
    width:58%;
}
@media(max-width:991px){
    .dg.a { 
        position: relative  !important;
        top:50vh !important;
        float: left !important;
        width:99% !important 
    }
    canvas{
        height: 50vh !important;
        width:100% !important ;
    }

    div>h1{

    }
    }


    .longtext {
        line-height: 13px !important;
        height: 40px !important;
    }
    .full_width {
        width: 100% !important;
    }
    div>h1{
        position: relative;
        font-family: 'Cinzel', serif;
        color:white;
        top:0px;
        left:20vw ;
        opacity:0.4;
    }